<div class="wrapper center">
  <img class="fb_logo _8ilh img " src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" width="400" height="200" alt="Facebook">
  <div class="card " style="width:35rem;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card-primary">
            <div class="card-header">
              <h3 class="card-title">Rehister Page</h3>
            </div>
            <%= form_with model: @user , url: "/saveUser" do |form| %>
              <div>
                <%= form.label :email %><br>
                <%= form.text_field :email %>
              </div>
              <div>
                <%= form.label :password %><br>
                <%= form.password_field  :password %>
              </div>
              <div>
                <%= form.submit %>
              </div>
              <div>
                <a href="<%= login_path %>">Already have an account?</a>
              </div>
            <% end %>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">
        </div>
        <!--/.col (right) -->
      </div>
    </div>
  </div>
</div>
